/* GLOBAL */

jw-devtools {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    min-height: 30px;
    max-height: 100%;
    top: auto;
    background-color: white;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    outline: none;
}

devtools-table {
    display: table;
    width: 100%
}
devtools-tbody {
    display: table-row-group;
}
devtools-tr {
    display: table-row;
}
devtools-td {
    display: table-cell;
    padding-right: 25px;
}
devtools-button {
    display: inline;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    line-height: 2em;
    font-family: initial;
}
devtools-list {
    display: block;
    list-style: none;
}
devtools-listitem {
    display: list-item;
}

jw-devtools.closed {
    max-height: 31px;
}

jw-devtools .bold {
    font-weight: bold;
}

jw-devtools .italic {
    font-style: italic;
}

jw-devtools .underline {
    text-decoration: underline;
}

jw-devtools .link {
    text-decoration: underline;
    color: blue;
}

jw-devtools .subscript {
    vertical-align: sub;
    font-size: 0.7em;
}

jw-devtools .superscript {
    vertical-align: super;
    font-size: 0.7em;
}

jw-devtools .marker-node {
    color: red;
}

devtools-panel {
    display: flex;
    overflow: auto;
}

devtools-panel:not(.active) {
    display: none;
}

devtools-panel .selectable-line:hover {
    background-color: rgba(118, 82, 108, 0.2);
}

devtools-panel .selectable-line.selected {
    background-color: rgba(118, 82, 108, 0.3);
}

devtools-panel devtools-button.logger {
    float: right;
    border: none;
    background-color: transparent;
    color: #666666;
    padding: 0;
    margin: 0;
    display: none;
    line-height: 0.7em;
}

devtools-panel devtools-about > devtools-button.logger {
    display: inline;
    margin-left: 1em;
}

devtools-panel .selectable-line:hover devtools-button.logger, devtools-panel .selected devtools-button.logger {
    display: inline;
}

/* NAVBAR */

jw-devtools:not(.closed) > devtools-navbar {
    cursor: row-resize;
}

devtools-navbar {
    background-color: #f3f3f3;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    min-height: 30px;
    width: 100%;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    box-sizing: border-box;
    vertical-align: baseline;
}

devtools-navbar > devtools-button {
    padding: 0 10px 0 10px;
    background: none;
    border: 0;
    vertical-align: middle;
    outline: none;
    cursor: auto;
}

devtools-navbar > devtools-button:hover {
    background-color: #d6d6d6;
}

devtools-navbar > devtools-button.selected {
    border-bottom: solid 2px #76526c;
}

/* CONTENTS */

devtools-contents {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

/* mainpane */

devtools-mainpane {
    display: flex;
    overflow: auto;
    flex-direction: column;
    width: 100%;
}

mainpane-contents {
    overflow: auto;
    flex: 1;
    padding: 1em;
}

devtools-command {
    display: block;
}

devtools-td.numbering {
    color: grey;
}


/* tree */

devtools-tree {
    display: block;
    flex-grow: 1;
    width: 100%;
}

devtools-tree devtools-children {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 1px 0 1px 1.5em;
    border-left: 1px solid #d0d0d0;
}

devtools-tree div {
    width: 100%;
}

devtools-tree > devtools-node.root > devtools-nodename {
    background-color: #76526c;
    color: white;
    padding-left: 5px;
    box-sizing: border-box;
}

jw-devtools devtools-nodename.inline {
    display: inline;
}

devtools-tree devtools-nodename.block {
    color: #76526c;
    width: 100%;
    display: inline-block;
}

devtools-tree devtools-nodename.line-break:after {
    content: '\A';
    white-space: pre;
}

devtools-node {
    outline: none;
}

devtools-node:not(.folded):not(.self-closing):not(.root) > devtools-nodename.block:before {
    content: '⌄ ';
}

devtools-node.folded:not(.self-closing) > devtools-nodename.block:before {
    content: '› ';
}

devtools-node.folded devtools-children {
    display: none;
}

devtools-path {
    display: block;
    border-top: 1px solid #d0d0d0;
    background-color: #dddddd;
    bottom: 0;
    left: 0;
    right: 0;
}

devtools-pathnode {
    display: inline-block;
    padding: .2em 1em .2em 1em;
    color: #696969;
    font-size: 13px;
}

devtools-pathnode:hover {
    background-color: #d6d6d6;
}

devtools-pathnode.selected {
    background-color: #d0d0d0;
}

/* sidepane */

devtools-sidepane {
    position: relative;
    overflow: auto;
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    width: 30%;
    background-color: white;
    border-left: 1px solid #d0d0d0;
}

devtools-sidepane devtools-about {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
}

devtools-sidepane devtools-about devtools-type {
    font-family: initial;
    font-style: italic;
    font-size: smaller;
    color: #76526c;
    padding-right: .5em;
}

devtools-sidepane devtools-properties {
    font-size: 12px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 30px;
}

devtools-infotitle {
    display: block;
}

devtools-sidepane devtools-properties devtools-infotitle {
    padding: 1em;
    font-family: initial;
    font-size: larger;
    color: #382034;
}

devtools-sidepane devtools-properties devtools-infotitle:first-child {
    padding-top: 0em;
}

devtools-sidepane devtools-properties devtools-table {
    width: 100%;
    font-size: inherit;
}

devtools-sidepane devtools-properties devtools-table devtools-tbody{
    vertical-align: top;
}

devtools-sidepane devtools-properties devtools-table devtools-td {
    padding: 0.3em;
}

devtools-sidepane devtools-properties devtools-table devtools-td:nth-child(1) {
    width: 100px;
}

devtools-sidepane devtools-properties devtools-table devtools-list {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

devtools-sidepane devtools-properties > devtools-table > devtools-tbody > devtools-tr:nth-child(even) {
    background-color: #f4f4f4;
}

devtools-info {
    display: flex;
    flex-direction: column;
}

devtools-info devtools-about devtools-id {
    float: right;
    color: #76526c;
    font-size: smaller;
}
