/* GLOBAL */

jw-devtools {
    position: fixed;
    bottom: 0;
    min-height: 30px;
    max-height: 100%;
    left: 0;
    right: 0;
    top: auto;
    background-color: white;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    user-select: none;
    outline: none;
    overflow-y: hidden;
}

jw-devtools.closed {
    max-height: 31px;
}

jw-devtools .bold {
    font-weight: bold;
}

jw-devtools .italic {
    font-style: italic;
}

jw-devtools .underline {
    text-decoration: underline;
}

jw-devtools .link {
    text-decoration: underline;
    color: blue;
}

jw-devtools .marker-node {
    color: red;
}

devtools-panel {
    height: 100%;
}

devtools-panel:not(.active) {
    display: none;
}

devtools-panel .selectable-line:hover {
    background-color: rgba(118, 82, 108, 0.2);
}

devtools-panel .selectable-line.selected {
    background-color: rgba(118, 82, 108, 0.3);
}

devtools-panel button.logger {
    float: right;
    border: none;
    background-color: transparent;
    color: #666666;
    padding: 0;
    margin: 0;
    display: none;
}

devtools-panel .about > button.logger {
    display: inline;
    margin-left: 1em;
}

devtools-panel .selectable-line:hover button.logger, devtools-panel .selected button.logger {
    display: inline;
}

/* NAVBAR */

jw-devtools:not(.closed) > devtools-navbar {
    cursor: row-resize;
}

devtools-navbar {
    background-color: #f3f3f3;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    min-height: 30px;
    width: 100%;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    box-sizing: border-box;
    vertical-align: baseline;
}

devtools-navbar > button {
    padding: 0 10px 0 10px;
    background: none;
    border: 0;
    height: 100%;
    vertical-align: middle;
    outline: none;
}

devtools-navbar > button:hover {
    background-color: #d6d6d6;
}

devtools-navbar > button.selected {
    border-bottom: solid 2px #76526c;
}

/* CONTENTS */

devtools-contents {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

/* mainpane */

devtools-mainpane {
    display: flex;
    overflow: auto;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

mainpane-contents {
    padding: 1em;
}

mainpane-contents > table td:nth-child(1)  {
    width: 100px;
}

/* tree */

devtools-tree {
    display: block;
    flex-grow: 1;
    width: 100%;
}

devtools-tree div.children {
    position: relative;
    box-sizing: border-box;
    padding: 1px 0 1px 1.5em;
    border-left: 1px solid #d0d0d0;
}

devtools-tree div {
    width: 100%;
}

devtools-tree > devtools-node.root > span.element-name {
    background-color: #76526c;
    color: white;
    padding-left: 5px;
    box-sizing: border-box;
}

devtools-tree span.element-name {
    color: #76526c;
}

devtools-tree span.element-name:not(.line-break) {
    width: 100%;
    display: inline-block;
}

devtools-tree span.element-name.line-break:after {
    content: '\A';
    white-space: pre;
}

devtools-node {
    outline: none;
}

devtools-node:not(.element) {
    display: inline;
}

devtools-node.element {
    display: block;
}

devtools-node:not(.folded):not(.self-closing):not(.root) > span.element-name:before {
    content: '⌄ ';
}

devtools-node.folded:not(.self-closing) > span.element-name:before {
    content: '› ';
}

devtools-node.folded .children {
    display: none;
}

devtools-path {
    display: block;
    border-top: 1px solid #d0d0d0;
    background-color: #dddddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

devtools-pathnode {
    display: inline-block;
    padding: .2em 1em .2em 1em;
    color: #696969;
    font-size: 13px;
}

devtools-pathnode:hover {
    background-color: #d6d6d6;
}

devtools-pathnode.selected {
    background-color: #d0d0d0;
}

/* sidepane */

devtools-sidepane {
    position: relative;
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    background-color: white;
    border-left: 1px solid #d0d0d0;
    height: 100%;
}

devtools-sidepane .about {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
}

devtools-sidepane .about .type {
    font-family: initial;
    font-style: italic;
    font-size: smaller;
    color: #76526c;
    padding-right: .5em;
}

devtools-sidepane .properties {
    font-size: 12px;
    padding: 10px;
    height: 100%;
    overflow: auto;
    margin-bottom: 30px;
}

devtools-sidepane .properties .divider {
    padding: 1em;
    font-family: initial;
    font-size: larger;
    color: #382034;
}

devtools-sidepane .properties .divider:first-child {
    padding-top: 0em;
}

devtools-sidepane .properties table {
    width: 100%;
    font-size: inherit;
}

devtools-sidepane .properties table tbody{
    vertical-align: top;
}

devtools-sidepane .properties table td {
    padding: 0.3em;
}

devtools-sidepane .properties table td:nth-child(1) {
    width: 100px;
}

devtools-sidepane .properties table ol {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

devtools-sidepane .properties > table > tbody > tr:nth-child(even) {
    background-color: #f4f4f4;
}

devtools-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

devtools-info .about .id {
    float: right;
    color: #76526c;
    font-size: smaller;
}
