.jw-fullscreen .jw-fullscreen {
    display: block;
    position: fixed;
    transform: none;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background: #ffffff;
}
.jw-fullscreen jw-follow-range {
    z-index: 1;
}
