jw-editor {
    display: flex;
    flex-direction: column;
}

#mobile-preview {
    border-width: 80px 14px 40px;
    border-radius: 16px;
    border-style: solid;
    border-color: #000;
    background-color: white;
    width: 400px;
    height: 700px;
    margin: auto;
    display: block;
}

.jw-dropdown {
    display: inline-block;
}
.jw-dropdown .dropdown-menu {
    min-width: 250px;
    border: 1px solid #000;
    background-color: #141217;
}
