body {
    margin:0;
    height:100vh;
}

jw-editable {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
}

jw-editable .drop-cap {
    font-size: 4.5em;
    margin-top: .15em;
    vertical-align: middle;
}
