body {
    margin:0;
    height:100vh;
}

p {
    margin: 1px;
}
h3 {
    margin: 5px 0;
}
section {
    border-bottom: 1px black solid;
}

jw-editor {
    display: block;
    height: 100vh;
}
jw-editable {
    display: block;
    padding: 10px;
    height: 100vh;
}



.jw-odoo-field {
    border: 0;
    outline: none;
}
.jw-odoo-field:hover, .jw-odoo-field.jw-focus {
    box-shadow: 0 0 0 1px  #875A7B;
}
.jw-odoo-field-invalid {
    box-shadow: 0 0 0 1px  red !important;
}

.supported {
    color: green;
}
.dependent {
    color: darkorange;
}
.not-supported {
    color: red;
}
