body {
    margin:0;
    height:100vh;
}

p {
    margin: 1px;
}
h3 {
    margin: 5px 0;
}
section {
    border-bottom: 1px black solid;
}

jw-editor {
    display: block;
    height: 100vh;
}
jw-editable {
    display: block;
    padding: 10px;
    height: 100vh;
}



.jw-odoo-field {
    border: 0;
    outline: none;
}
.jw-odoo-field:hover, .jw-odoo-field.jw-focus {
    box-shadow: 0 0 0 1px  #875A7B;
}
.jw-odoo-field-invalid {
    box-shadow: 0 0 0 1px  red !important;
}

.supported {
    color: green;
}
.dependent {
    color: darkorange;
}
.not-supported {
    color: red;
}

.inherit-all{
    align-content: inherit !important;
    align-items: inherit !important;
    align-self: inherit !important;
    alignment-baseline: inherit !important;
    all: inherit !important;
    animation: inherit !important;
    animation-delay: inherit !important;
    animation-direction: inherit !important;
    animation-duration: inherit !important;
    animation-fill-mode: inherit !important;
    animation-iteration-count: inherit !important;
    animation-name: inherit !important;
    animation-play-state: inherit !important;
    animation-timing-function: inherit !important;
    backdrop-filter: inherit !important;
    backface-visibility: inherit !important;
    background: inherit !important;
    background-attachment: inherit !important;
    background-blend-mode: inherit !important;
    background-clip: inherit !important;
    background-color: inherit !important;
    background-image: inherit !important;
    background-origin: inherit !important;
    background-position: inherit !important;
    background-position-x: inherit !important;
    background-position-y: inherit !important;
    background-repeat: inherit !important;
    background-repeat-x: inherit !important;
    background-repeat-y: inherit !important;
    background-size: inherit !important;
    baseline-shift: inherit !important;
    block-size: inherit !important;
    border: inherit !important;
    border-block-end: inherit !important;
    border-block-end-color: inherit !important;
    border-block-end-style: inherit !important;
    border-block-end-width: inherit !important;
    border-block-start: inherit !important;
    border-block-start-color: inherit !important;
    border-block-start-style: inherit !important;
    border-block-start-width: inherit !important;
    border-bottom: inherit !important;
    border-bottom-color: inherit !important;
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
    border-bottom-style: inherit !important;
    border-bottom-width: inherit !important;
    border-collapse: inherit !important;
    border-color: inherit !important;
    border-image: inherit !important;
    border-image-outset: inherit !important;
    border-image-repeat: inherit !important;
    border-image-slice: inherit !important;
    border-image-source: inherit !important;
    border-image-width: inherit !important;
    border-inline-end: inherit !important;
    border-inline-end-color: inherit !important;
    border-inline-end-style: inherit !important;
    border-inline-end-width: inherit !important;
    border-inline-start: inherit !important;
    border-inline-start-color: inherit !important;
    border-inline-start-style: inherit !important;
    border-inline-start-width: inherit !important;
    border-left: inherit !important;
    border-left-color: inherit !important;
    border-left-style: inherit !important;
    border-left-width: inherit !important;
    border-radius: inherit !important;
    border-right: inherit !important;
    border-right-color: inherit !important;
    border-right-style: inherit !important;
    border-right-width: inherit !important;
    border-spacing: inherit !important;
    border-style: inherit !important;
    border-top: inherit !important;
    border-top-color: inherit !important;
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
    border-top-style: inherit !important;
    border-top-width: inherit !important;
    border-width: inherit !important;
    bottom: inherit !important;
    box-shadow: inherit !important;
    box-sizing: inherit !important;
    break-after: inherit !important;
    break-before: inherit !important;
    break-inside: inherit !important;
    buffered-rendering: inherit !important;
    caption-side: inherit !important;
    caret-color: inherit !important;
    clear: inherit !important;
    clip: inherit !important;
    clip-path: inherit !important;
    clip-rule: inherit !important;
    color: inherit !important;
    color-interpolation: inherit !important;
    color-interpolation-filters: inherit !important;
    color-rendering: inherit !important;
    column-count: inherit !important;
    column-fill: inherit !important;
    column-gap: inherit !important;
    column-rule: inherit !important;
    column-rule-color: inherit !important;
    column-rule-style: inherit !important;
    column-rule-width: inherit !important;
    column-span: inherit !important;
    column-width: inherit !important;
    columns: inherit !important;
    contain: inherit !important;
    content: inherit !important;
    counter-increment: inherit !important;
    counter-reset: inherit !important;
    cursor: inherit !important;
    cx: inherit !important;
    cy: inherit !important;
    d: inherit !important;
    direction: inherit !important;
    display: inherit !important;
    dominant-baseline: inherit !important;
    empty-cells: inherit !important;
    fill: inherit !important;
    fill-opacity: inherit !important;
    fill-rule: inherit !important;
    filter: inherit !important;
    flex: inherit !important;
    flex-basis: inherit !important;
    flex-direction: inherit !important;
    flex-flow: inherit !important;
    flex-grow: inherit !important;
    flex-shrink: inherit !important;
    flex-wrap: inherit !important;
    float: inherit !important;
    flood-color: inherit !important;
    flood-opacity: inherit !important;
    font: inherit !important;
    font-display: inherit !important;
    font-family: inherit !important;
    font-feature-settings: inherit !important;
    font-kerning: inherit !important;
    font-optical-sizing: inherit !important;
    font-size: inherit !important;
    font-stretch: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-variant-caps: inherit !important;
    font-variant-east-asian: inherit !important;
    font-variant-ligatures: inherit !important;
    font-variant-numeric: inherit !important;
    font-variation-settings: inherit !important;
    font-weight: inherit !important;
    gap: inherit !important;
    grid: inherit !important;
    grid-area: inherit !important;
    grid-auto-columns: inherit !important;
    grid-auto-flow: inherit !important;
    grid-auto-rows: inherit !important;
    grid-column: inherit !important;
    grid-column-end: inherit !important;
    grid-column-gap: inherit !important;
    grid-column-start: inherit !important;
    grid-gap: inherit !important;
    grid-row: inherit !important;
    grid-row-end: inherit !important;
    grid-row-gap: inherit !important;
    grid-row-start: inherit !important;
    grid-template: inherit !important;
    grid-template-areas: inherit !important;
    grid-template-columns: inherit !important;
    grid-template-rows: inherit !important;
    height: inherit !important;
    hyphens: inherit !important;
    image-rendering: inherit !important;
    inline-size: inherit !important;
    isolation: inherit !important;
    justify-content: inherit !important;
    justify-items: inherit !important;
    justify-self: inherit !important;
    left: inherit !important;
    letter-spacing: inherit !important;
    lighting-color: inherit !important;
    line-break: inherit !important;
    line-height: inherit !important;
    list-style: inherit !important;
    list-style-image: inherit !important;
    list-style-position: inherit !important;
    list-style-type: inherit !important;
    margin: inherit !important;
    margin-block-end: inherit !important;
    margin-block-start: inherit !important;
    margin-bottom: inherit !important;
    margin-inline-end: inherit !important;
    margin-inline-start: inherit !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    margin-top: inherit !important;
    marker: inherit !important;
    marker-end: inherit !important;
    marker-mid: inherit !important;
    marker-start: inherit !important;
    mask: inherit !important;
    mask-type: inherit !important;
    max-block-size: inherit !important;
    max-height: inherit !important;
    max-inline-size: inherit !important;
    max-width: inherit !important;
    max-zoom: inherit !important;
    min-block-size: inherit !important;
    min-height: inherit !important;
    min-inline-size: inherit !important;
    min-width: inherit !important;
    min-zoom: inherit !important;
    mix-blend-mode: inherit !important;
    object-fit: inherit !important;
    object-position: inherit !important;
    offset: inherit !important;
    offset-distance: inherit !important;
    offset-path: inherit !important;
    offset-rotate: inherit !important;
    opacity: inherit !important;
    order: inherit !important;
    orientation: inherit !important;
    orphans: inherit !important;
    outline: inherit !important;
    outline-color: inherit !important;
    outline-offset: inherit !important;
    outline-style: inherit !important;
    outline-width: inherit !important;
    overflow: inherit !important;
    overflow-anchor: inherit !important;
    overflow-wrap: inherit !important;
    overflow-x: inherit !important;
    overflow-y: inherit !important;
    overscroll-behavior: inherit !important;
    overscroll-behavior-block: inherit !important;
    overscroll-behavior-inline: inherit !important;
    overscroll-behavior-x: inherit !important;
    overscroll-behavior-y: inherit !important;
    padding: inherit !important;
    padding-block-end: inherit !important;
    padding-block-start: inherit !important;
    padding-bottom: inherit !important;
    padding-inline-end: inherit !important;
    padding-inline-start: inherit !important;
    padding-left: inherit !important;
    padding-right: inherit !important;
    padding-top: inherit !important;
    page: inherit !important;
    page-break-after: inherit !important;
    page-break-before: inherit !important;
    page-break-inside: inherit !important;
    paint-order: inherit !important;
    perspective: inherit !important;
    perspective-origin: inherit !important;
    place-content: inherit !important;
    place-items: inherit !important;
    place-self: inherit !important;
    pointer-events: inherit !important;
    position: inherit !important;
    quotes: inherit !important;
    r: inherit !important;
    resize: inherit !important;
    right: inherit !important;
    row-gap: inherit !important;
    rx: inherit !important;
    ry: inherit !important;
    scroll-behavior: inherit !important;
    scroll-margin: inherit !important;
    scroll-margin-block: inherit !important;
    scroll-margin-block-end: inherit !important;
    scroll-margin-block-start: inherit !important;
    scroll-margin-bottom: inherit !important;
    scroll-margin-inline: inherit !important;
    scroll-margin-inline-end: inherit !important;
    scroll-margin-inline-start: inherit !important;
    scroll-margin-left: inherit !important;
    scroll-margin-right: inherit !important;
    scroll-margin-top: inherit !important;
    scroll-padding: inherit !important;
    scroll-padding-block: inherit !important;
    scroll-padding-block-end: inherit !important;
    scroll-padding-block-start: inherit !important;
    scroll-padding-bottom: inherit !important;
    scroll-padding-inline: inherit !important;
    scroll-padding-inline-end: inherit !important;
    scroll-padding-inline-start: inherit !important;
    scroll-padding-left: inherit !important;
    scroll-padding-right: inherit !important;
    scroll-padding-top: inherit !important;
    scroll-snap-align: inherit !important;
    scroll-snap-stop: inherit !important;
    scroll-snap-type: inherit !important;
    shape-image-threshold: inherit !important;
    shape-margin: inherit !important;
    shape-outside: inherit !important;
    shape-rendering: inherit !important;
    size: inherit !important;
    speak: inherit !important;
    src: inherit !important;
    stop-color: inherit !important;
    stop-opacity: inherit !important;
    stroke: inherit !important;
    stroke-dasharray: inherit !important;
    stroke-dashoffset: inherit !important;
    stroke-linecap: inherit !important;
    stroke-linejoin: inherit !important;
    stroke-miterlimit: inherit !important;
    stroke-opacity: inherit !important;
    stroke-width: inherit !important;
    tab-size: inherit !important;
    table-layout: inherit !important;
    text-align: inherit !important;
    text-align-last: inherit !important;
    text-anchor: inherit !important;
    text-combine-upright: inherit !important;
    text-decoration: inherit !important;
    text-decoration-color: inherit !important;
    text-decoration-line: inherit !important;
    text-decoration-skip-ink: inherit !important;
    text-decoration-style: inherit !important;
    text-indent: inherit !important;
    text-orientation: inherit !important;
    text-overflow: inherit !important;
    text-rendering: inherit !important;
    text-shadow: inherit !important;
    text-size-adjust: inherit !important;
    text-transform: inherit !important;
    text-underline-position: inherit !important;
    top: inherit !important;
    touch-action: inherit !important;
    transform: inherit !important;
    transform-box: inherit !important;
    transform-origin: inherit !important;
    transform-style: inherit !important;
    transition: inherit !important;
    transition-delay: inherit !important;
    transition-duration: inherit !important;
    transition-property: inherit !important;
    transition-timing-function: inherit !important;
    unicode-bidi: inherit !important;
    unicode-range: inherit !important;
    user-select: inherit !important;
    user-zoom: inherit !important;
    vector-effect: inherit !important;
    vertical-align: inherit !important;
    visibility: inherit !important;
    webkit-align-content: inherit !important;
    webkit-align-items: inherit !important;
    webkit-align-self: inherit !important;
    webkit-animation: inherit !important;
    webkit-animation-delay: inherit !important;
    webkit-animation-direction: inherit !important;
    webkit-animation-duration: inherit !important;
    webkit-animation-fill-mode: inherit !important;
    webkit-animation-iteration-count: inherit !important;
    webkit-animation-name: inherit !important;
    webkit-animation-play-state: inherit !important;
    webkit-animation-timing-function: inherit !important;
    webkit-app-region: inherit !important;
    webkit-appearance: inherit !important;
    webkit-backface-visibility: inherit !important;
    webkit-background-clip: inherit !important;
    webkit-background-origin: inherit !important;
    webkit-background-size: inherit !important;
    webkit-border-after: inherit !important;
    webkit-border-after-color: inherit !important;
    webkit-border-after-style: inherit !important;
    webkit-border-after-width: inherit !important;
    webkit-border-before: inherit !important;
    webkit-border-before-color: inherit !important;
    webkit-border-before-style: inherit !important;
    webkit-border-before-width: inherit !important;
    webkit-border-bottom-left-radius: inherit !important;
    webkit-border-bottom-right-radius: inherit !important;
    webkit-border-end: inherit !important;
    webkit-border-end-color: inherit !important;
    webkit-border-end-style: inherit !important;
    webkit-border-end-width: inherit !important;
    webkit-border-horizontal-spacing: inherit !important;
    webkit-border-image: inherit !important;
    webkit-border-radius: inherit !important;
    webkit-border-start: inherit !important;
    webkit-border-start-color: inherit !important;
    webkit-border-start-style: inherit !important;
    webkit-border-start-width: inherit !important;
    webkit-border-top-left-radius: inherit !important;
    webkit-border-top-right-radius: inherit !important;
    webkit-border-vertical-spacing: inherit !important;
    webkit-box-align: inherit !important;
    webkit-box-decoration-break: inherit !important;
    webkit-box-direction: inherit !important;
    webkit-box-flex: inherit !important;
    webkit-box-ordinal-group: inherit !important;
    webkit-box-orient: inherit !important;
    webkit-box-pack: inherit !important;
    webkit-box-reflect: inherit !important;
    webkit-box-shadow: inherit !important;
    webkit-box-sizing: inherit !important;
    webkit-clip-path: inherit !important;
    webkit-column-break-after: inherit !important;
    webkit-column-break-before: inherit !important;
    webkit-column-break-inside: inherit !important;
    webkit-column-count: inherit !important;
    webkit-column-gap: inherit !important;
    webkit-column-rule: inherit !important;
    webkit-column-rule-color: inherit !important;
    webkit-column-rule-style: inherit !important;
    webkit-column-rule-width: inherit !important;
    webkit-column-span: inherit !important;
    webkit-column-width: inherit !important;
    webkit-columns: inherit !important;
    webkit-filter: inherit !important;
    webkit-flex: inherit !important;
    webkit-flex-basis: inherit !important;
    webkit-flex-direction: inherit !important;
    webkit-flex-flow: inherit !important;
    webkit-flex-grow: inherit !important;
    webkit-flex-shrink: inherit !important;
    webkit-flex-wrap: inherit !important;
    webkit-font-feature-settings: inherit !important;
    webkit-font-size-delta: inherit !important;
    webkit-font-smoothing: inherit !important;
    webkit-highlight: inherit !important;
    webkit-hyphenate-character: inherit !important;
    webkit-justify-content: inherit !important;
    webkit-line-break: inherit !important;
    webkit-line-clamp: inherit !important;
    webkit-locale: inherit !important;
    webkit-logical-height: inherit !important;
    webkit-logical-width: inherit !important;
    webkit-margin-after: inherit !important;
    webkit-margin-after-collapse: inherit !important;
    webkit-margin-before: inherit !important;
    webkit-margin-before-collapse: inherit !important;
    webkit-margin-bottom-collapse: inherit !important;
    webkit-margin-collapse: inherit !important;
    webkit-margin-end: inherit !important;
    webkit-margin-start: inherit !important;
    webkit-margin-top-collapse: inherit !important;
    webkit-mask: inherit !important;
    webkit-mask-box-image: inherit !important;
    webkit-mask-box-image-outset: inherit !important;
    webkit-mask-box-image-repeat: inherit !important;
    webkit-mask-box-image-slice: inherit !important;
    webkit-mask-box-image-source: inherit !important;
    webkit-mask-box-image-width: inherit !important;
    webkit-mask-clip: inherit !important;
    webkit-mask-composite: inherit !important;
    webkit-mask-image: inherit !important;
    webkit-mask-origin: inherit !important;
    webkit-mask-position: inherit !important;
    webkit-mask-position-x: inherit !important;
    webkit-mask-position-y: inherit !important;
    webkit-mask-repeat: inherit !important;
    webkit-mask-repeat-x: inherit !important;
    webkit-mask-repeat-y: inherit !important;
    webkit-mask-size: inherit !important;
    webkit-max-logical-height: inherit !important;
    webkit-max-logical-width: inherit !important;
    webkit-min-logical-height: inherit !important;
    webkit-min-logical-width: inherit !important;
    webkit-opacity: inherit !important;
    webkit-order: inherit !important;
    webkit-padding-after: inherit !important;
    webkit-padding-before: inherit !important;
    webkit-padding-end: inherit !important;
    webkit-padding-start: inherit !important;
    webkit-perspective: inherit !important;
    webkit-perspective-origin: inherit !important;
    webkit-perspective-origin-x: inherit !important;
    webkit-perspective-origin-y: inherit !important;
    webkit-print-color-adjust: inherit !important;
    webkit-rtl-ordering: inherit !important;
    webkit-ruby-position: inherit !important;
    webkit-shape-image-threshold: inherit !important;
    webkit-shape-margin: inherit !important;
    webkit-shape-outside: inherit !important;
    webkit-tap-highlight-color: inherit !important;
    webkit-text-combine: inherit !important;
    webkit-text-decorations-in-effect: inherit !important;
    webkit-text-emphasis: inherit !important;
    webkit-text-emphasis-color: inherit !important;
    webkit-text-emphasis-position: inherit !important;
    webkit-text-emphasis-style: inherit !important;
    webkit-text-fill-color: inherit !important;
    webkit-text-orientation: inherit !important;
    webkit-text-security: inherit !important;
    webkit-text-size-adjust: inherit !important;
    webkit-text-stroke: inherit !important;
    webkit-text-stroke-color: inherit !important;
    webkit-text-stroke-width: inherit !important;
    webkit-transform: inherit !important;
    webkit-transform-origin: inherit !important;
    webkit-transform-origin-x: inherit !important;
    webkit-transform-origin-y: inherit !important;
    webkit-transform-origin-z: inherit !important;
    webkit-transform-style: inherit !important;
    webkit-transition: inherit !important;
    webkit-transition-delay: inherit !important;
    webkit-transition-duration: inherit !important;
    webkit-transition-property: inherit !important;
    webkit-transition-timing-function: inherit !important;
    webkit-user-drag: inherit !important;
    webkit-user-modify: inherit !important;
    webkit-user-select: inherit !important;
    webkit-writing-mode: inherit !important;
    white-space: inherit !important;
    widows: inherit !important;
    width: inherit !important;
    will-change: inherit !important;
    word-break: inherit !important;
    word-spacing: inherit !important;
    word-wrap: inherit !important;
    writing-mode: inherit !important;
    x: inherit !important;
    y: inherit !important;
    z-index: inherit !important;
    zoom: inherit !important;
}
