body {
    margin:0;
    height:100vh;
}

* {
    border-top: 3px black solid;
    margin: 0;
}

jw-editor {
    display: block;
    height: 100vh;
}

jw-editor jw-body table, jw-editor jw-body tr, jw-editor jw-body td, jw-editor jw-body th {
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    vertical-align: top;
}
jw-editor jw-body th {
    background-color: #76526c;
    color: white;
}
jw-editor jw-body tr {
    height: 30px;
    width: 30px;
}

jw-editor jw-body table.mondrian {
    padding: 0;
    border: 4px solid black;
    width: 65vh;
    height: 50vh;
}

.jw_selected_image {
    outline: 1px red solid;
}
